@import url('../../Fonts/MyFonts\ Order\ M12764355/');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body, button {
    color: #404040;
    font-family: serif; 
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.35;
}
footer{
    background-color: #ccc;
}
