@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
*{
    margin: 0%;
    padding: 0%;
    opacity: 1;
}

.border-bottom{
    border-bottom: 1px solid #DDE5ED;
}
body{
    background-color: #71717147;
}
.container{
    width: 1280px;
    max-height: 1148px;
    background-color: #FFF;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.row {
         --bs-gutter-x: 0px;
}
.sticky-top{
    max-height: 42px;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    letter-spacing: -0.35px;
    color: #717171;
    background-color: #FFF;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 85px !important;
    padding-right: 85px !important;
}
#join-us{
    font-weight: bold;
}
#search{
    margin-left: 9px;
    margin-right: 9px;
}
#weather{
    margin-left: 9px;
}
.suscribite{
    color: #717171;
    margin: 0px;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
#header{
    padding-left: 85px !important;
    padding-right: 85px !important;
}

.list-inline-item a {
    text-align: left;
    font: normal normal medium 16px/19px Work Sans;
    letter-spacing: -0.4px;
    color: #000000;
}
.list-inline-item a:hover{
    color: #005077;
}
h3{
    color: #005077;
}

.text-danger {
    color: #C60C30 !important;
}
footer{
    background-color: #ccc;
}